[Desktop Entry]
Type=Application
Name=Eduke32
Comment='Advanced Duke Nukem 3D engine'
Icon=eduke32
Exec=eduke32 %f
Categories=Game;Shooter
Terminal=false
StartupNotify=false


